<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-menu-button class="menu-botao" slot="start"></ion-menu-button>
    <ion-title>{{ 'Alojamento' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- 1. Pousada de Viana do Castelo -->
  <ion-card class="card-alojamento">
    <img src="../../../../assets/img/Alojamento01_PousadaViana.png" />
    <ion-card-header>
      <ion-card-title>{{ 'Pousada de Viana do Castelo' | translate}}</ion-card-title>
      <ion-card-subtitle>{{ 'Monte de Santa Luzia' | translate}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      {{ 'Vista deslumbrante sobre a cidade e o mar, ideal para uma estadia relaxante em ambiente histórico.' | translate}}
      <div class="buttons-alojamento">
        <ion-button fill="outline" size="small" href="https://www.pousadas.pt/en/hotel/pousada-viana" target="_blank">
          <ion-icon name="globe-outline" slot="start"></ion-icon>
          {{ 'Website' | translate }}
        </ion-button>
      
        <ion-button fill="outline" size="small" href="https://maps.app.goo.gl/QVAA67BTXSnipqs97" target="_blank">
          <ion-icon name="location-outline" slot="start"></ion-icon>
          {{ 'Localização' | translate }}
        </ion-button>
      
        <ion-button fill="outline" size="small" href="tel:+351 258 800 370">
          <ion-icon name="call-outline" slot="start"></ion-icon>
          {{ 'Contactar' | translate }}
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>

  <!-- 2. Hotel Flor de Sal -->
  <ion-card class="card-alojamento">
    <img src="../../../../assets/img/Alojamento02_HotelFlorDeSal.png" />
    <ion-card-header>
      <ion-card-title>{{ 'Hotel Flor de Sal' | translate}}</ion-card-title>
      <ion-card-subtitle>{{ 'Frente ao mar' | translate}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      {{ 'Moderno e confortável, com spa e acesso direto ao mar.' | translate}}
      <div class="buttons-alojamento">
        <ion-button fill="outline" size="small" href="https://hotelflordesal.com/en/" target="_blank">
          <ion-icon name="globe-outline" slot="start"></ion-icon>
          {{ 'Website' | translate }}
        </ion-button>
      
        <ion-button fill="outline" size="small" href="https://maps.app.goo.gl/jpVRwLiHjAseuMqC6" target="_blank">
          <ion-icon name="location-outline" slot="start"></ion-icon>
          {{ 'Localização' | translate }}
        </ion-button>
      
        <ion-button fill="outline" size="small" href="tel:+351 258 800 100">
          <ion-icon name="call-outline" slot="start"></ion-icon>
          {{ 'Contactar' | translate }}
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>

  <!-- 3. Casa Melo Alvim -->
  <ion-card class="card-alojamento">
    <img src="../../../../assets/img/Alojamento03_CasaMeloAlvim.png" />
    <ion-card-header>
      <ion-card-title>{{ 'Casa Melo Alvim' | translate}}</ion-card-title>
      <ion-card-subtitle>{{ 'Centro histórico' | translate}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      {{ 'Antigo solar restaurado, combina charme clássico com conforto moderno.' | translate}}
      <div class="buttons-alojamento">
        <ion-button fill="outline" size="small" href="https://hotelmeloalvim.com/" target="_blank">
          <ion-icon name="globe-outline" slot="start"></ion-icon>
          {{ 'Website' | translate }}
        </ion-button>
      
        <ion-button fill="outline" size="small" href="https://maps.app.goo.gl/YDa5PzznbHFT6KCB6" target="_blank">
          <ion-icon name="location-outline" slot="start"></ion-icon>
          {{ 'Localização' | translate }}
        </ion-button>
      
        <ion-button fill="outline" size="small" href="tel:+351 258 808 200">
          <ion-icon name="call-outline" slot="start"></ion-icon>
          {{ 'Contactar' | translate }}
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>

  <!-- 5. Absoluto Design Hotel -->
  <ion-card class="card-alojamento">
    <img src="../../../../assets/img/Alojamento04_AbsolutoDesignHotel.png" />
    <ion-card-header>
      <ion-card-title>{{ 'Absoluto Design Hotel' | translate}}</ion-card-title>
      <ion-card-subtitle>{{ 'Design moderno' | translate}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      {{ 'Hotel boutique com design contemporâneo e detalhes sofisticados.' | translate}}
      <div class="buttons-alojamento">
        <ion-button fill="outline" size="small" href="https://www.absolutohotel.com/" target="_blank">
          <ion-icon name="globe-outline" slot="start"></ion-icon>
          {{ 'Website' | translate }}
        </ion-button>
      
        <ion-button fill="outline" size="small" href="https://maps.app.goo.gl/SmusXpj7JXDRe5wBA" target="_blank">
          <ion-icon name="location-outline" slot="start"></ion-icon>
          {{ 'Localização' | translate }}
        </ion-button>
      
        <ion-button fill="outline" size="small" href="tel:+351 258 809 100">
          <ion-icon name="call-outline" slot="start"></ion-icon>
          {{ 'Contactar' | translate }}
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>

  <!-- 6. Hotel Rali -->
  <ion-card class="card-alojamento">
    <img src="../../../../assets/img/Alojamento05_HotelRali.png" />
    <ion-card-header>
      <ion-card-title>{{ 'Hotel Rali' | translate}}</ion-card-title>
      <ion-card-subtitle>{{ 'Perto do centro' | translate}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      {{ 'Alojamento confortável com restaurante e estacionamento gratuito.' | translate}}
      <div class="buttons-alojamento">
        <ion-button fill="outline" size="small" href="https://www.hotelraliviana.com/en/" target="_blank">
          <ion-icon name="globe-outline" slot="start"></ion-icon>
          {{ 'Website' | translate }}
        </ion-button>
      
        <ion-button fill="outline" size="small" href="https://maps.app.goo.gl/KhDMmc63VEnxUMGJ7" target="_blank">
          <ion-icon name="location-outline" slot="start"></ion-icon>
          {{ 'Localização' | translate }}
        </ion-button>
      
        <ion-button fill="outline" size="small" href="tel:+351 258 829 770">
          <ion-icon name="call-outline" slot="start"></ion-icon>
          {{ 'Contactar' | translate }}
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>

  <!-- 7. Hotel do Parque -->
  <ion-card class="card-alojamento">
    <img src="../../../../assets/img/Alojamento06_HotelParque.png" />
    <ion-card-header>
      <ion-card-title>{{ 'Hotel do Parque' | translate}}</ion-card-title>
      <ion-card-subtitle>{{ 'Zona tranquila' | translate}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      {{ 'Envolto em natureza, ideal para relaxar com ambiente familiar.' | translate}}
      <div class="buttons-alojamento">
        <ion-button fill="outline" size="small" href="https://hoteldoparque.com/" target="_blank">
          <ion-icon name="globe-outline" slot="start"></ion-icon>
          {{ 'Website' | translate }}
        </ion-button>
      
        <ion-button fill="outline" size="small" href="https://maps.app.goo.gl/8AgJuSS5Sc3C2sMp8" target="_blank">
          <ion-icon name="location-outline" slot="start"></ion-icon>
          {{ 'Localização' | translate }}
        </ion-button>
      
        <ion-button fill="outline" size="small" href="tel:+351 258 800 500">
          <ion-icon name="call-outline" slot="start"></ion-icon>
          {{ 'Contactar' | translate }}
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>

  <!-- 8. Axis Viana Business & SPA Hotel -->
  <ion-card class="card-alojamento">
    <img src="../../../../assets/img/Alojamento07_AxisViana.png" />
    <ion-card-header>
      <ion-card-title>{{ 'Axis Viana Business & SPA' | translate}}</ion-card-title>
      <ion-card-subtitle>{{ 'Moderno e com spa' | translate}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      {{ 'Hotel 4 estrelas com piscina interior, spa e vistas panorâmicas.' | translate}}
      <div class="buttons-alojamento">
        <ion-button fill="outline" size="small" href="https://www.axishoteis.com/axis-viana.html" target="_blank">
          <ion-icon name="globe-outline" slot="start"></ion-icon>
          {{ 'Website' | translate }}
        </ion-button>
      
        <ion-button fill="outline" size="small" href="https://maps.app.goo.gl/cue3r47B1YtBiwGk6" target="_blank">
          <ion-icon name="location-outline" slot="start"></ion-icon>
          {{ 'Localização' | translate }}
        </ion-button>
      
        <ion-button fill="outline" size="small" href="tel:+351 258 802 000">
          <ion-icon name="call-outline" slot="start"></ion-icon>
          {{ 'Contactar' | translate }}
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>

</ion-content>
