<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-menu-button class="menu-botao" slot="start"></ion-menu-button>
    <ion-title>{{ 'Clubes Desportivos' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="clube-card">
    <div class="clube-header">
      <img src="../../../../assets/img/ClubeDesportivo01.png" class="clube-imagem" />
      <div class="clube-titulo">
        <ion-card-title class="clube-nome">Sport Clube Vianense</ion-card-title>
        <ion-card-subtitle class="clube-modalidades">
          <b>{{ 'Modalidades' | translate }}:</b> {{ 'Futebol, Judo, Dança Desportiva, Ténis de Mesa, Bilhar, etc' | translate }}
        </ion-card-subtitle>
      </div>
    </div>
    <ion-card-content class="clube-descricao">
      {{ 'Clube histórico fundado em 1898, o mais antigo de Portugal.' | translate }}<br>
      {{ 'Principalmente conhecido pelo futebol, mas também promove outras modalidades como judo, dança desportiva, bilhar e automobilismo.' | translate }}
    </ion-card-content>
  </ion-card>

  <ion-card class="clube-card">
    <div class="clube-header">
      <img src="../../../../assets/img/ClubeDesportivo02.png" class="clube-imagem" />
      <div class="clube-titulo">
        <ion-card-title class="clube-nome">Neves Futebol Clube</ion-card-title>
        <ion-card-subtitle class="clube-modalidades">
          <b>{{ 'Modalidades' | translate }}:</b> {{ 'Futebol' | translate }}
        </ion-card-subtitle>
      </div>
    </div>
    <ion-card-content class="clube-descricao">
      {{ 'Clube dedicado ao futebol amador, sediado em Vila de Punhe. Participa em competições regionais e é importante na formação de jovens atletas.' | translate }}
    </ion-card-content>
  </ion-card>

  <ion-card class="clube-card">
    <div class="clube-header">
      <img src="../../../../assets/img/ClubeDesportivo03.png" class="clube-imagem" />
      <div class="clube-titulo">
        <ion-card-title class="clube-nome">Clube Desportivo de Monserrate</ion-card-title>
        <ion-card-subtitle class="clube-modalidades">
          <b>{{ 'Modalidades' | translate }}:</b> {{ 'Diversas, incluindo Futebol' | translate }}
        </ion-card-subtitle>
      </div>
    </div>
    <ion-card-content class="clube-descricao">
      {{ 'Fundado em 2010, aposta na formação desportiva de jovens em várias modalidades, com forte presença no futebol regional.' | translate }}
    </ion-card-content>
  </ion-card>

  <ion-card class="clube-card">
    <div class="clube-header">
      <img src="../../../../assets/img/ClubeDesportivo04.png" class="clube-imagem" />
      <div class="clube-titulo">
        <ion-card-title class="clube-nome">Grupo Desportivo Areosense</ion-card-title>
        <ion-card-subtitle class="clube-modalidades">
            <b>{{ 'Modalidades' | translate }}:</b> {{ 'Futebol, Atletismo, Xadrez, Basquetebol, Ciclismo, Andebol e Pesca' | translate }}
        </ion-card-subtitle>
      </div>
    </div>
    <ion-card-content class="clube-descricao">
      {{ 'Multidesportivo e com grande tradição local, nasceu com foco no futebol e expandiu-se para modalidades como ciclismo, basquetebol, pesca e xadrez.' | translate }}
    </ion-card-content>
  </ion-card>

  <ion-card class="clube-card">
    <div class="clube-header">
      <img src="../../../../assets/img/ClubeDesportivo05.png" class="clube-imagem" />
      <div class="clube-titulo">
        <ion-card-title class="clube-nome">Associação Juventude de Viana</ion-card-title>
        <ion-card-subtitle class="clube-modalidades">
          <b>{{ 'Modalidades' | translate }}:</b> {{ 'Hóquei em patins' | translate }}
        </ion-card-subtitle>
      </div>
    </div>
    <ion-card-content class="clube-descricao">
      {{ 'Clube de referência nacional em hóquei em patins. Conhecido pela formação e participação em campeonatos de topo.' | translate }}
    </ion-card-content>
  </ion-card>

  <ion-card class="clube-card">
    <div class="clube-header">
      <img src="../../../../assets/img/ClubeDesportivo06.png" class="clube-imagem" />
      <div class="clube-titulo">
        <ion-card-title class="clube-nome">Escola Desportiva de Viana</ion-card-title>
        <ion-card-subtitle class="clube-modalidades">
          <b>{{ 'Modalidades' | translate }}:</b> {{ 'Hóquei em patins, esgrima, ginástica, patinagem, trail, triatlo e padel' | translate }}
        </ion-card-subtitle>
      </div>
    </div>
    <ion-card-content class="clube-descricao">
      {{ 'Promove o ténis e o padel com campos próprios e eventos regulares. Destaca-se pelo trabalho na formação e na organização de torneios locais.' | translate }}
    </ion-card-content>
  </ion-card>

  <ion-card class="clube-card">
    <div class="clube-header">
      <img src="../../../../assets/img/ClubeDesportivo07.png" class="clube-imagem" />
      <div class="clube-titulo">
        <ion-card-title class="clube-nome">Sociedade de Tiro de Viana do Castelo</ion-card-title>
        <ion-card-subtitle class="clube-modalidades">
          <b>{{ 'Modalidades' | translate }}:</b> {{ 'Ténis e padel' | translate }}
        </ion-card-subtitle>
      </div>
    </div>
  
    <ion-card-content class="clube-descricao">
      {{ 'Tiro Olímpico, Tiro IPSC e Field Targer' | translate }}
    </ion-card-content>
  </ion-card>

  <ion-card class="clube-card">
    <div class="clube-header">
      <img src="../../../../assets/img/ClubeDesportivo08.png" class="clube-imagem" />
      <div class="clube-titulo">
        <ion-card-title class="clube-nome">Clube de Basket de Viana</ion-card-title>
        <ion-card-subtitle class="clube-modalidades">
          <b>{{ 'Modalidades' | translate }}:</b> {{ 'Basquetebol' | translate }}
        </ion-card-subtitle>
      </div>
    </div>
  
    <ion-card-content class="clube-descricao">
    {{ 'Dedicado exclusivamente ao basquetebol, com equipas de formação e séniores. Incentiva a prática da modalidade entre jovens.' | translate }}
    </ion-card-content>
  </ion-card>

  <ion-card class="clube-card">
    <div class="clube-header">
      <img src="../../../../assets/img/ClubeDesportivo09.png" class="clube-imagem" />
      <div class="clube-titulo">
        <ion-card-title class="clube-nome">Darque Kayak Clube</ion-card-title>
        <ion-card-subtitle class="clube-modalidades">
          <b>{{ 'Modalidades' | translate }}:</b> {{ 'Canoagem' | translate }}
        </ion-card-subtitle>
      </div>
    </div>
  
    <ion-card-content class="clube-descricao">
      {{ 'Clube vocacionado para a canoagem, com forte presença em competições nacionais. Atua também na formação e promoção do desporto náutico.' | translate }}
    </ion-card-content>
  </ion-card>

  <ion-card class="clube-card">
    <div class="clube-header">
      <img src="../../../../assets/img/ClubeDesportivo10.png" class="clube-imagem" />
      <div class="clube-titulo">
        <ion-card-title class="clube-nome">Clube de Vela de Viana do Castelo</ion-card-title>
        <ion-card-subtitle class="clube-modalidades">
          <b>{{ 'Modalidades' | translate }}:</b> {{ 'Vela' | translate }}
        </ion-card-subtitle>
      </div>
    </div>
    <ion-card-content class="clube-descricao">
      {{ 'Clube especializado em remo, com uma equipa competitiva e formação regular. Tem tradição no rio Lima.' | translate }}
    </ion-card-content>
  </ion-card>

  <ion-card class="clube-card">
    <div class="clube-header">
      <img src="../../../../assets/img/ClubeDesportivo11.png" class="clube-imagem" />
      <div class="clube-titulo">
        <ion-card-title class="clube-nome">Surf Clube de Viana</ion-card-title>
        <ion-card-subtitle class="clube-modalidades">
          <b>{{ 'Modalidades' | translate }}:</b> {{ 'Surf, bodyboard, stand-up paddle' | translate }}
        </ion-card-subtitle>
      </div>
    </div>
    <ion-card-content class="clube-descricao">
      {{ 'Referência no surf, bodyboard e SUP na região norte. Organiza eventos, forma atletas e promove a ligação ao mar.' | translate }}
    </ion-card-content>
  </ion-card>

  <div class="clube-vertodos">
    <ion-button size="small" fill="outline" href="https://vianavirtualgym.com/club/" target="_blank">
      <ion-icon slot="start" name="link-outline"></ion-icon>
      {{ 'Ver Todos os Clubes' | translate }}
    </ion-button> 
  </div>
  
  
  
  

